<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <form method=post enctype=multipart/form-data> Attepts<br>
        <input type="number" name="att">
        <br>
        Completions<br>
        <input type="number" name="cmp">
        <br>
        Completions %<br>
        <input type="number" name="pct">
        <br>
        Yards<br>
        <input type="number" name="yds">
        <br>
        Yards Per Attempt<br>
        <input type="number" name="ypa">
        <br>
        Touchdown %<br>
        <input type="number" name="tprc">
        <br>
        Interceptions<br>
        <input type="number" name="inter">
        <br>
        Interception %<br>
        <input type="number" name="intpct">
        <br>
        Long<br>
        <input type="number" name="lg">
        <br>
        Sacks<br>
        <input type="number" name="sack">
        <br>
        Yards Lost on Sacks<br>
        <input type="number" name="loss">
        <br>
        Passer Rating<br>
        <input type="number" name="rate">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>